body {
    letter-spacing: 0px;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
}

.jumbrotron {
    background-size: 100% 100%;
}

.line-height {
    line-height: 13pt;
}

.nav-item {
    display: flex;
    align-items: center;
    line-height: 12pt;
}

.nav-link {
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    font-size: 15px;
}

.nav-link:hover {
    
    color: rgb(218, 218, 218);
    transition: 0.1s;
}

.nav-btn {
    background-color: white;
    color: black;
    border-radius: 30px;
}

.nav-btn:hover {
    background: #610556;
    color: white !important;
    transition: 1s;
}

.btn:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid #610556;
    transition: 0.5s;
}

.kontakt-button {
    background-color: white;
    color: black;
    border-radius: 30px;
    font-size: 15px;
    letter-spacing: 0px;
}

.kontakt-button:hover {
    background: #610556;
    color: white !important;
    transition: 1s;
}

.navbar {
    background-color: transparent;
    transition: background-color 1s ease;
}

.navbar.navbar-solid {
    background-color: #F5F3EE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.navbar.navbar-solid .navbar-brand,
.navbar.navbar-solid .nav-link {
    color: #333;
    transition: color 0.3s ease;
}

.navbar.navbar-solid .navbar-brand:hover,
.navbar.navbar-solid .nav-link:hover {
    color:#610556;
    transition: 0.1s;
}

.navbar-nav {
    display: flex;
    justify-content: start;
}

.navbar-brand img {
    height: 20px;

}
/* Desktop-CSS  */

.p-text {
    color: grey;
}

.start-content-d {
    padding-left: 10vh;
    margin-top: 30vh;
    font-size: 20/24px;
}

.start-d {
    background-image: url('template-img.jpeg');
    background-size: cover;
    height: 100vh;
}

.start-text-d {
    text-align: left;
    color: white;
}

.curved {
    width: 100%;
}


.curved-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.curved-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.curved-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.bg-beige {
    background-color: #F5F3EE;
}

.card-link {
    width: 220px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    color: black !important;
    text-decoration: none;
}


.card-link img {
    width: 50%;
    height: auto;
}

.card-link:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.card-link:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}

.card-link:hover h4 {
    transform: scale(1.1);
    transition: 0.5s;
}

.card-link-2 {
    width: 280px;
    height: 330px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 6px 6px #00000029;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-link-2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;

}

.card-link-2:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

/* 
.card-link-2:hover img {
    transform: scale(1.1);
    transition: 0.5s;
} */

/* .card-link-2:hover h4 {
    transform: scale(1.1);
    transition: 0.5s;
} */

.png-pic-cont {
    position: relative;
}

.pic-component {
    height: 100vh;
}

.png-design {
    height: 100%;
    width: 70%;
}

.png-design img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.design-pic {
    display: flex;
    padding-left: 15vw;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
}


.design-pic img {
    object-fit: cover;
    border-radius: 30px;
    height: 60%;
    width: 80%;
}


.design-pic-right {
    display: flex;
    position: absolute;
    padding-right: 15vw;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.design-pic-right img {
    object-fit: cover;
    border-radius: 30px;
    height: 60%;
    width: 80%;
    float: right;
}

.png-design-right {
    height: 100%;
    width: 70%;
    margin: 0%;
    float: right;
}

.png-design-right img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #610556;
}

.icon-footer-div {
    width: 100%;
    height: 100%;
    text-align: left;
}

.icon-footer-div img {
    height: 40px;
    width: auto;
    object-fit: contain;
}
.soc {
    margin-top: 30px;
    display: block;
    list-style: none;
    text-align: left;
  }
  .soc li {
    display: inline-block;
  }
  .soc a, .soc svg {
    display: block;
  }
  .soc a {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
  }
  .soc svg {
    height: 100%;
    width: 100%;
  }
  
  .icon {
    background: black;
    border-radius: 100%;
    color: white;
    fill: white;
  }
  .icon:hover {
    background: white;
    color: black;
    fill: black;
  }
  
  .facebook:hover {
    color: #3B579D;
    fill: #3B579D;
  }
  
  .linkedin:hover {
    color: #007BB6;
    fill: #007BB6;
  }
  
  .footer-list a{
    text-decoration: none;
    font-size: large;
  }

  .link-footer:hover {
    font-weight:lighter;
    transition: 0.1s;
  }

  /* Effects */
  @-webkit-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
.animation {
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

/* Nebenseiten CSS */

.img-cont {
    width: 100%;
    height: 40vh;
}

.img-cont img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sub-content {
    width: 100%;
    border-radius: 20px;
}

.sub-contact {
    border-radius: 20px;
}

.icon-cont-contact {
    display: flex;
    flex-direction: column;
}

.icon-contact img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.img-cont-content {
    width: 100%;
    height:auto;
}

.img-cont-content img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}


/* Kontakt form CSS */

